<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>WeatherPoint</title>
    	
 	</head>
 	<body style="padding:0px; margin:0px; font-family:Arial, Verdana; background-color:#fff;">
 		<script src="http://code.jquery.com/jquery.min.js"></script>
    	<script type="text/javascript" src="../static/jssor.js"></script>
 		<script type="text/javascript" src="../static/jssor.slider.js"></script>
 		<script>
 			jQuery(document).ready(function ($) {
 				var options = {
 					$FillMode: 2,
 					$AutoPlay: true,
 					$AutoPlayInterval: 5000,
 					$DragOrientation: 1
 					//$PauseOnHover: 1,
 					//$SlideEasing: $JssorEasing$.$EaseOutQuint,
 					//$SlideDuration: 800,
 					//$SlideWidth: 980,
 					//$SlideHeight: 380,
 					//$SlideSpacing: 0,
 					//$DisplayPieces: 1,
 					//$ParkingPosition: 0,
 					//$UISearchMode: 1,
 					//$PlayOrientation: 1,

 				};
 				$("#slider1_container").css("display", "block");
 				var jssor_slider1 = new $JssorSlider$("slider1_container", options);
 				
 				function ScaleSlider() {
 					var parentWidth = $('#slider1_container').parent().width();
 					if (parentWidth) {
 						jssor_slider1.$ScaleWidth(parentWidth);
 					}
 					else
 						window.setTimeout(ScaleSlider, 30);
 				}

 				ScaleSlider();
 				$(window).bind("load", ScaleSlider);
 				$(window).bind("resize", ScaleSlider);
 				$(window).bind("orientationchange", ScaleSlider);
				
 			});
 		</script>
 		<div id="slider1_container" style="position: relative; top: 0px; left: 0px;
 			width: 1162px; height: 631px;">
 				<div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1162px; height: 631px; overflow: hidden;">
 					<div><a href="models"><img id="modelspg" u="image" src="../static/images/radar.png" /></a></div>
 					<div><img u="image" src="../static/images/stormradar.png" /></div>
 				</div>
 		</div>
 	</body>
</html>
