<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Models</title>
    	{% load staticfiles %}
    	<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    	<link href="{% static "base.css" %}" rel="stylesheet">	
 	</head>
 	<body>
 		<div class="navbar-wrapper">
 			<div class="container">
 				<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0px;">
 				<div class="container">
 					<div class="navbar-header">
 						<a class="navbar-brand" href="/">WeatherPoint</a>	
 					</div>
 					<div id="navbar" class="navbar-collapse collapse">
 						<ul class="nav navbar-nav">
 							<li><a href="{% url 'models' %}">models</a></li>
 							<li><a href="satellite">satellite</a></li>
 						</ul>
 					</div>
 				</div>
 				</nav>
 			</div>
 		</div>
 		<div id="slider1_container" style="position: relative; top: 0px; left: 0px;
 			width: 968px; height: 304px;">
 				<div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 968px; height: 304px; overflow: hidden;">
 					<div><a href="models"><img id="modelspg" u="image" src="{% static "images/radar.png" %}" /></a></div>
 					<div><img u="image" src="{% static "images/stormradar.png" %}" /></div>
 				</div>
 		</div>
 		<div class="btn-group btn-group-justified" role="group" aria-label="...">
 			<form action="/" method="POST" class="navbar-form navbar-left">
 				<div class="btn-group" role="group">
 					<input name="GFS" type="submit" value="GFS" />
 				</div>
 				{% csrf_token %}
 			</form>	
 		</div>
 			<img src={{ new_model_image }} />
 		<script src="http://code.jquery.com/jquery.min.js"></script>
    	<script type="text/javascript" src="{% static "js/jssor.js" %}"></script>
 		<script type="text/javascript" src="{% static "js/jssor.slider.js" %}"></script>
 		<script>
 			jQuery(document).ready(function ($) {
 				var options = {
 					$FillMode: 2,
 					$AutoPlay: true,
 					$AutoPlayInterval: 4000,
 					$DragOrientation: 1
 					//$PauseOnHover: 1,
 					//$SlideEasing: $JssorEasing$.$EaseOutQuint,
 					//$SlideDuration: 800,
 					//$SlideWidth: 980,
 					//$SlideHeight: 380,
 					//$SlideSpacing: 0,
 					//$DisplayPieces: 1,
 					//$ParkingPosition: 0,
 					//$UISearchMode: 1,
 					//$PlayOrientation: 1,

 				};
 				$("#slider1_container").css("display", "block");
 				var jssor_slider1 = new $JssorSlider$("slider1_container", options);
 				
 				function ScaleSlider() {
 					var parentWidth = $('#slider1_container').parent().width();
 					if (parentWidth) {
 						jssor_slider1.$ScaleWidth(parentWidth);
 					}
 					else
 						window.setTimeout(ScaleSlider, 30);
 				}

 				ScaleSlider();
 				$(window).bind("load", ScaleSlider);
 				$(window).bind("resize", ScaleSlider);
 				$(window).bind("orientationchange", ScaleSlider);
				
 			});
 		</script>
 	</body>
</html>
