<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Models</title>
    	{% load staticfiles %}
    	<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    	<link href="{% static "base.css" %}" rel="stylesheet">	
 	</head>
 	<body>
 		<div class="navbar-wrapper">
 			<div class="container">
 				<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0px;">
 				<div class="container">
 					<div class="navbar-header">
 						<a class="navbar-brand" href="/">WeatherPoint</a>	
 					</div>
 					<div id="navbar" class="navbar-collapse collapse">
 						<ul class="nav navbar-nav">
 							<li><a href="{% url 'models' %}">models</a></li>
 							<li><a href="satellite">satellite</a></li>
 						</ul>
 					</div>
 				</div>
 				</nav>
 			</div>
 		</div>
 		<div class="row row-bottom-margin" id="slider1_container" style="position: relative; top: 0px; left: 0px;
 			width: 968px; height: 250px; ">
 				<div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 968px; height: 250px; overflow: hidden;">
 					<div><a href="models"><img id="modelspg" u="image" src="{% static "images/radar.png" %}" /></a></div>
 					<div><img u="image" src="{% static "images/stormradar.png" %}" /></div>
 				</div>
 		</div>
        <form action="/create_post/" method="POST" id="post-form">
            <div class="col-sm-4" id="toprow">
                <h4 style="font-family:verdana"> Global Models </h4>
 			    <img src='{% static 'images/USAcomplete2.png' %}' class="img-responsive thumbnail" id='gbimg' >
                <div class="btn-toolbar">
                    <button type="submit" name="model" value="GFS" class="btn btn-default">GFS</button>
                    <button type="submit" name="model" value="CMC" class="btn btn-default">CMC</button>
                    <button type="submit" name="model" value="ECMWF" class="btn btn-default">ECMWF</button>
                </div>

            </div>
            <div class="col-sm-4">
                <h4 style="font-family:verdana"> Mesoscale Models </h4>
                <img src='{% static 'images/USAcomplete2.png' %}' class="img-responsive thumbnail" id='rgimg' >
                <div class="btn-toolbar">
                    <button type="submit" name="model" value="RGEM" class="btn btn-default">RGEM </span></button>
                    <button type="submit" name="model" value="NAM" class="btn btn-default">NAM </span></button>
                </div>
            </div>
            {% csrf_token %}
        </form>
        <div class="row-fluid" id="grid-container">
        <div class="col-xs-8" id="modelimages"></div>
        <div class="col-xs-3" id="modelbuttons">
        <!--    <form action="/load_images/" method="POST" id="mbutton-form">
                {% csrf_token %}
            </form> -->
        <!--    <ul data-bind="foreach: chosenModelData" id="timesteps"> -->
                <table id="mytable">
                    <tbody id="timesteps">
                        <!-- ko foreach: dividedChosenModelData -->
                            <tr>
                            <!-- ko foreach: $data -->
                                <td><button class="btn btn-default" data-bind="attr: {disabled: $data[2]}, text: $data[0], click: $root.load_image"></button></td>
                        <!-- /ko  -->
                            </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
        <!--    </ul> -->
        </div>
        </div>
        <div class="btn-toolbar" data-bind="foreach: globalmodels">
            <button name="models" id='model' data-bind="attr: { value: modelname},text: modelname, click: $parent.getModel" class="btn btn-default"> </button>
        </div>
        <!--
        <div class="container-fixed">
        <div class="row">
                <div class="col-xs-5">
                    <ul data-bind="foreach: chosenModelData">
                        <button class="btn btn-default" data-bind="attr: {value: $data[1]}, text: $data[0], click: $parent.load_image"></button>
                    </ul>
                </div>
                <div class="col-xs-7">
                </div>
            </div>
        </div> -->
 		<script src="http://code.jquery.com/jquery.min.js"></script>
    	<script type="text/javascript" src="{% static "js/jssor.js" %}"></script>
 		<script type="text/javascript" src="{% static "js/jssor.slider.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        <script src="{% static "bower_components/knockout/dist/knockout.js" %}"></script>
        <script src="{% static "main.js" %}"></script>
 		<script>
 			jQuery(document).ready(function ($) {
 				var options = {
 					$FillMode: 2,
 					$AutoPlay: true,
 					//$AutoPlayInterval: 4000,
 					//$DragOrientation: 1,
                    $SlideshowOptions:  { $Class: $JssorSlideshowRunner$, $Transitions: [{ $Duration:700, $Fade: true, $Opacity:2 }] }
 					//$PauseOnHover: 1,
 					//$SlideEasing: $JssorEasing$.$EaseOutQuint,
 					//$SlideDuration: 800,
 					//$SlideWidth: 980,
 					//$SlideHeight: 380,
 					//$SlideSpacing: 0,
 					//$DisplayPieces: 1,
 					//$ParkingPosition: 0,
 					//$UISearchMode: 1,
 					//$PlayOrientation: 1,

 				};
 				$("#slider1_container").css("display", "block");
 				var jssor_slider1 = new $JssorSlider$("slider1_container", options);
 				
 				function ScaleSlider() {
 					var parentWidth = $('#slider1_container').parent().width();
 					if (parentWidth) {
 						jssor_slider1.$ScaleWidth(parentWidth);
 					}
 					else
 						window.setTimeout(ScaleSlider, 30);
 				}

 				ScaleSlider();
 				$(window).bind("load", ScaleSlider);
 				$(window).bind("resize", ScaleSlider);
 				$(window).bind("orientationchange", ScaleSlider);



				
 			});

            $(document).ready(function () {
                function AppViewModel() {
                    var self = this;

                    self.globalmodels = ko.observableArray([
                        { modelname: "GFS"},
                        { modelname: "ECMWF"},
                        { modelname: "CMC"}
                    ]);
                    

                    self.chosenModel = ko.observable();
                    self.chosenModelData = ko.observableArray();
                    self.dividedChosenModelData = ko.computed(function () {
                        var size = 4;
                        var items = self.chosenModelData();
                        return [].concat.apply([],
                            ko.utils.arrayMap(items, function(elem, i) {
                                return i%size ? [] : [items.slice(i,i+size)];
                            })
                        );
                    }, self);

                    //$('button[name=models]').click(function (){
                    self.getModel = function(models) {
                    //var myval = $(this).attr("value");
                    //console.log(models.modelname);
                    document.getElementById('gbimg').style.display = 'none';
                    document.getElementById('rgimg').style.display = 'none';
                    self.create_post(models.modelname, true);
                    var check = document.getElementsByName("models");
                    for(var z = 0; z < check.length; z++){
                        if(check[z].disabled) {
                            check[z].disabled=false;
                            
                        }
                    }
                    $('button[value='+models.modelname+']').attr("disabled","true");
                    


                    }


                    self.create_post =function(btnval, tst) {
                        $.ajax({
                        url : "create_post/",
                        cache : 'false',
                        type : "POST",
                        data : { initmdls : btnval},

                        success : function(json) {
                            var mcheck=document.getElementById('mimage');
                            if(!mcheck) {
                                $("#modelimages").prepend("<img src="+json.result+" class='img-responsive thumbnail' id='mimage'>");
                            } else if (tst == false) {
                            } else if (tst == true) {
                                mcheck.src=json.result;
                            }
                            self.chosenModelData.removeAll();
                            var timestep = json.images[0];
                            var imgpath = json.images[1];
                            var num_buttons = {'GFS':[384,6], 'ECMWF':[240,24],'CMC':[240,6],'NAM':[84,3],'RGEM':[48,3]};
                            for(var i = 0; i < json.images[0].length; i++) {
                                self.chosenModelData.push([timestep[i], imgpath[i], false]);
                            }
                            var buttonval = [];
                            for(var a=0; a <= num_buttons[btnval][0]; a+=num_buttons[btnval][1] ) {
                                if(a <= 240) {
                                    buttonval.push(a.toString());
                                } else {
                                    a +=6;
                                    buttonval.push(a.toString());
                                }
                            }
                            mlength = self.chosenModelData().length;
                            var missinglength = buttonval.length - self.chosenModelData().length;
                            for(var j=1; j <missinglength; j++) {
                                self.chosenModelData.push([buttonval[mlength+j].toString(), 'undefined',
                                    true]);
                            }
                            /*
                            var idx = 1;
                            var row, next;
                            var count =0
                            while((row = $('#mytable tr:nth-child(' + idx++ + ')')).length) {
                                if((next = $('#mytable tr:nth-child(' + idx + ')')).length) {
                                    row.append(next.find('td'));
                                    next.remove();
                                }   
                            }
                            */



                        },

                        error : function(xhr,errmsg,err) {
                            var mcheck=document.getElementById('mimage');
                            if(mcheck) {
                                mcheck.parentNode.removeChild(mcheck);
                            }
                        }


                        });
                        /*
                        var checkbuttons = document.getElementById('allbuttons');
                        //console.log(checkbuttons);
                        if(checkbuttons) {
                            checkbuttons.parentNode.removeChild(checkbuttons);
                            self.create_buttons(btnval);
                        } else {
                            self.create_buttons(btnval);
                        }
                        */
                    }
                    /*
                    self.create_buttons= function(btnval) {
                        var modeldiv = document.getElementById('allbuttons');
                        var num_buttons = {'GFS':[384,6,14,0], 'ECMWF':[240,24,3,2],'CMC':[240,6,11,0],'NAM':[84,3,8,0],'RGEM':[48,3,5,0]};
                        var tbl=document.createElement('table');
                        tbl.style.width='20%';
                        tbl.style.height = "30%"
                        tbl.id="allbuttons";
                        var tbdy=document.createElement('tbody');
                        //if(btnval == 'GFS') {
                        var buttonval = [];
                        for(var a=0; a <= num_buttons[btnval][0]; a+=num_buttons[btnval][1] ) {
                            if(a <= 240) {
                                buttonval.push(a.toString());
                            } else {
                                a +=6;
                                buttonval.push(a.toString());
                            }
                        }
                        //console.log(buttonval.length);
                        for(var i = 0; i < num_buttons[btnval][2]; i++) {
                            var tr= tbl.insertRow();
                            for(var j = 0; j < 4; j++ ) {
                                if( i == (num_buttons[btnval][2] - 1) && j > num_buttons[btnval][3]) {
                                    break;
                                
                            } else {
                                var td = tr.insertCell();
                                var btn = document.createElement("button");
                                btn.className= "btn btn-default";
                                btn.name = btnval;
                                btn.value=(buttonval[0])
                                //btn.setAttribute("disabled","true");
                                var t = document.createTextNode(buttonval[0]);
                                buttonval.shift();
                                btn.appendChild(t);
                                td.appendChild(btn);

                                }
                            }
                        }   
                        //$('#modelbuttons').prepend(tbl);

                    }
                    */

                    self.load_image = function(mtimestep) {
                        var mcheck=document.getElementById('mimage');
                        mcheck.src=mtimestep[1];

                    }

                    self.update = function() {
                        // Need to check if buttons have reach a certain length
                        // if so exit loop
                        var check = document.getElementsByName("models");
                        for(var z = 0; z < check.length; z++){
                            if(check[z].disabled) {
                                self.create_post(check[z].value, false);
                            }
                        }
                    }

                }
              var appuimodel = new AppViewModel();
              //window.setInterval(appuimodel.update,5000);
              //ko.applyBindings(new AppViewModel());
              //ko.virtualElements.allowedBindings.appuimodel = true;
              ko.applyBindings(appuimodel);
            });

            

        

 		</script>
 	</body>
</html>
